.name-container {
  font-family: "IBM Plex Mono";
  font-size: 1.5rem;
}

.home-content {
  background: linear-gradient(
    15deg,
    #950505,
    #9e0404,
    #9c0505,
    #cd5c07,
    #ef9936,
    #ed9734,
    #ad6b1f,
    #845219,
    #623c12,
    #32200b,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #ea9d44
  );
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.three-d-text {
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
  font-size: 120px;
  font-weight: bold;
  color: white;
  font-family: "Anton";
  z-index: 5;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
}
.letter {
  font-size: 25px;
  font-weight: 700;
  z-index: 20;
  display: inline-block;
  transition: font-family 0.3s ease-in-out;
}

.name-text {
  z-index: 20;
}

.text-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 100px;
  overflow: hidden;
  text-align: left;
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text-line {
  font-size: 10px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px 0;
  font-weight: 400;
  font-family: "IBM Plex Mono";
}

.vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  z-index: 1;
}

.vertical-line {
  width: 0.8px;
  height: 100%;
  background: rgb(62, 62, 62);
  position: relative;
}

.boxy-button {
  cursor: none;
  position: relative;
  width: 150px;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-family: "IBM Plex Mono";
  font-size: 0.85rem;
  font-weight: 400;
  z-index: 5;
  transition: all 0.3s ease;
  overflow: hidden;
}

.boxy-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.boxy-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: 0.5s;
}

.boxy-button:hover::before {
  left: 100%;
}

.boxy-button.paused {
  opacity: 0.7;
}

.arrow-icon {
  position: absolute;
  font-size: 0.8rem;
  color: white;
  transition: all 0.3s ease;
}

.top-left {
  top: 5px;
  left: 5px;
}

.bottom-right {
  bottom: 5px;
  right: 5px;
}

.about-me {
  padding-top: 0px;
  width: 65%;
  z-index: 5;
  line-height: 1.8;
  font-family: "IBM Plex Mono";
  font-size: 0.79rem;
  font-weight: 200;
}

.pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  animation: pulse-animation 3s infinite;
}

.vertical-line:nth-child(1) .pulse {
  animation-delay: 0s;
}
.vertical-line:nth-child(2) .pulse {
  animation-delay: 1s;
}
.vertical-line:nth-child(3) .pulse {
  animation-delay: 0.5s;
}
.vertical-line:nth-child(4) .pulse {
  animation-delay: 1.5s;
}

.paused {
  animation-play-state: paused !important;
}

.frame-visible .main-window .pulse,
.frame-visible .main-window .typing::after {
  animation-play-state: paused !important;
}

.frame-visible .main-window .typing {
  animation: none !important;
}

@keyframes pulse-animation {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.pulse.paused {
  animation-play-state: paused !important;
}

@keyframes pulse-animation {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
}

@media (max-width: 600px) {
  .qr-code-container {
    display: none !important;
  }

  .text-container {
    display: none !important;
  }

  .about-me {
    font-size: 0.59rem;
  }

  .three-d-text {
    font-size: 45px;
  }

  .vertical-lines {
    display: none;
  }

  .letter {
    font-size: 15px;
  }
}
