.projects-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a; /* Light background for the section */
  position: relative;
  overflow: hidden;
}

.letter {
  font-size: 25px;
  font-weight: 700;
  z-index: 5;
  display: inline-block;
  transition: font-family 0.3s ease-in-out;
} 

.project-box-container {
  display: flex;
  width: 80%;
  height: 60%;
  gap: 10px; /* Space between boxes */
}

.project-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  transition: flex 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.project-box.expanded {
  flex: 6; /* Expanded box takes 60% width */
}

.project-box:not(.expanded) {
  flex: 1; /* Unexpanded boxes take 10% width */
}